# entornos
*/env/
*/ubenv/
datasets
app/*

# ignorar datasets de HB/HS pesados
datasets/*

# instalaciones que se deben configurar por cada pc
higgstools/installation
higgstools/build

higgstools/examples/example_data/*.csv filter=lfs diff=lfs merge=lfs -text

# datasets de entrenamiento locales
mlpython/data_train/
!mlpython/data_train/.gitkeep

# artefactos grandes opcionales (si no quieres versionarlos)
# results/**        # <- descomenta si prefieres que NO entren por defecto
# mlpython/outs/**  # idem

# binarios y builds
/dihiggs/app/PostProcessHBHS
/dihiggs/app/Oracle
/dihiggs/app/PhysParamScan
/dihiggs/app/HBHS_testing
*.o
*.parquet
*.joblib
*.model
*.h5
*.pth
*.ckpt
*.so
*.dll