results/*.csv filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
/Makefile filter=lfs diff=lfs merge=lfs -text
*.conf filter=lfs diff=lfs merge=lfs -text
*.cpp filter=lfs diff=lfs merge=lfs -text
*.hpp filter=lfs diff=lfs merge=lfs -text
/app/ParamScanGen filter=lfs diff=lfs merge=lfs -text
/app/ParamScanGen_pll filter=lfs diff=lfs merge=lfs -text
/app/ParamScanHiggs filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
/app/testing filter=lfs diff=lfs merge=lfs -text
*.o filter=lfs diff=lfs merge=lfs -text
/app/out/0129b_part_aa filter=lfs diff=lfs merge=lfs -text
/app/out/0129b_part_ab filter=lfs diff=lfs merge=lfs -text
/app/out/0129b_part_ac filter=lfs diff=lfs merge=lfs -text
/app/out/0129b_part_ad filter=lfs diff=lfs merge=lfs -text
/app/out/0129b_part_ae filter=lfs diff=lfs merge=lfs -text
/app/out/0129b_part_af filter=lfs diff=lfs merge=lfs -text
/app/out/0129b_part_ag filter=lfs diff=lfs merge=lfs -text
/app/out/0129b_part_ah filter=lfs diff=lfs merge=lfs -text
/app/out/0129b_part_ai filter=lfs diff=lfs merge=lfs -text
*.sh filter=lfs diff=lfs merge=lfs -text
/app/ParamScanPhys filter=lfs diff=lfs merge=lfs -text
* !text !filter !merge !diff
/app/out/out_3pll.csv filter=lfs diff=lfs merge=lfs -text
/app/outphys/0207a_phys.csv filter=lfs diff=lfs merge=lfs -text
/app/outphys/0207b_phys.csv filter=lfs diff=lfs merge=lfs -text
/mlpython/opt_result_extended.pkl filter=lfs diff=lfs merge=lfs -text
/mlpython/opt_result_initial.pkl filter=lfs diff=lfs merge=lfs -text
/mlpython/data_batches/merged_1.pkl filter=lfs diff=lfs merge=lfs -text
/mlpython/data_batches/merged_2.pkl filter=lfs diff=lfs merge=lfs -text
/mlpython/data_batches/merged_4.pkl filter=lfs diff=lfs merge=lfs -text
/mlpython/data_batches/merged_5.pkl filter=lfs diff=lfs merge=lfs -text
/mlpython/data_batches/merged_6.pkl filter=lfs diff=lfs merge=lfs -text
/mlpython/dataset_full.parquet filter=lfs diff=lfs merge=lfs -text
/mlpython/data_batches/merged_0520.pkl filter=lfs diff=lfs merge=lfs -text
/mlpython/outs/opt_result_extended.pkl filter=lfs diff=lfs merge=lfs -text
/mlpython/outs/opt_result_initial.pkl filter=lfs diff=lfs merge=lfs -text
/mlpython/data_batches_vary/merged_0520.pkl filter=lfs diff=lfs merge=lfs -text
/mlpython/data_batches_vary/merged_1.pkl filter=lfs diff=lfs merge=lfs -text
/mlpython/data_batches_vary/merged_12.pkl filter=lfs diff=lfs merge=lfs -text
/mlpython/data_batches_vary/merged_13.pkl filter=lfs diff=lfs merge=lfs -text
/mlpython/data_batches_vary/merged_14.pkl filter=lfs diff=lfs merge=lfs -text
/mlpython/data_batches_vary/merged_2.pkl filter=lfs diff=lfs merge=lfs -text
/mlpython/data_batches_vary/merged_4.pkl filter=lfs diff=lfs merge=lfs -text
/mlpython/data_batches_vary/merged_5.pkl filter=lfs diff=lfs merge=lfs -text
/mlpython/data_batches_vary/merged_6.pkl filter=lfs diff=lfs merge=lfs -text
/mlpython/data_batches/merged_3.pkl filter=lfs diff=lfs merge=lfs -text
/mlpython/data_train/dataset_full.parquet filter=lfs diff=lfs merge=lfs -text
