# entornos
*/env/
*/ubenv/
datasets
app/*

# ignorar datasets de HB/HS pesados
datasets/*

# instalaciones que se deben configurar por cada pc
higgstools/installation
higgstools/build

higgstools/examples/example_data/*.csv filter=lfs diff=lfs merge=lfs -text

# datasets de entrenamiento locales
mlpython/data_train/
!mlpython/data_train/.gitkeep

# artefactos grandes opcionales (si no quieres versionarlos)
# results/**        # <- descomenta si prefieres que NO entren por defecto
# mlpython/outs/**  # idem

# binarios y builds
/dihiggs/app/PostProcessHBHS
/dihiggs/app/Oracle
/dihiggs/app/PhysParamScan
/dihiggs/app/HBHS_testing
*.parquet
*.joblib
*.model
*.h5
*.pth
*.ckpt
*.so
*.dll
2hdmc/Demo
2hdmc/CalcGen
2hdmc/CalcHiggs
2hdmc/CalcHMSSM
2hdmc/CalcHybrid
2hdmc/CalcInert
2hdmc/CalcLH
2hdmc/CalcMSSM
2hdmc/CalcPhys
dihiggs/app/PhysParamScan
dihiggs/app/Oracle
dihiggs/app/PhysScanWithFixings
dihiggs/app/PostProcessHBHS
2hdmc/CalcGen
2hdmc/CalcHiggs
2hdmc/CalcHMSSM
2hdmc/CalcHybrid
2hdmc/CalcInert
2hdmc/CalcLH
2hdmc/CalcMSSM
2hdmc/CalcPhys
2hdmc/Demo
dihiggs/app/HBHS_testing
dihiggs/app/Oracle
dihiggs/app/PhysParamScan
dihiggs/app/PhysScanWithFixings
dihiggs/app/PostProcessHBHS
dihiggs/obj/ParamUtils.o
2hdmc/CalcGen
dihiggs/app/outcsv/out_tan1e5_m1e3.csv
dihiggs/app/outcsv/tb10000/chunk_00.csv
dihiggs/app/outcsv/tb10000/chunk_01.csv
dihiggs/app/outcsv/tb10000/chunk_02.csv
dihiggs/app/outcsv/tb10000/chunk_03.csv
dihiggs/app/outcsv/tb10000/chunk_04.csv
dihiggs/app/outcsv/tb10000/chunk_05.csv
dihiggs/app/outcsv/tb10000/chunk_06.csv
dihiggs/app/outcsv/tb10000/chunk_07.csv
dihiggs/app/outcsv/tb10000/chunk_08.csv
dihiggs/app/outcsv/tb10000/chunk_09.csv
dihiggs/app/outcsv/tb10000/chunk_10.csv
dihiggs/app/outcsv/tb10000/chunk_11.csv
dihiggs/app/outcsv/tb10000/chunk_12.csv
dihiggs/app/outcsv/tb10000/chunk_13.csv
dihiggs/app/outcsv/tb10000/chunk_14.csv
dihiggs/app/outcsv/tb10000/chunk_15.csv
dihiggs/app/outcsv/tb10000/timings.json
dihiggs/app/outcsv/tb8000/chunk_00.csv
dihiggs/app/outcsv/tb8000/chunk_01.csv
dihiggs/app/outcsv/tb8000/timings.json
mlpython/0b1_samplings.ipynb

